extends layout

block content
  h1 MentorParty
  p.lead A simple service for matching mentors and attendees at events.
  hr
  .row
    .col-md-6
      h2 Have an event code?
      p Enter your event code below and hit "Go".
      p You do not need to create an account to join an event.

  .row
    .col-md-3
      form(method='POST' action='/go')
        input(type='hidden', name='_csrf', value=_csrf)
        div.form-group
          label(for='code') Event Code
          input#name.form-control(type='text', placeholder='' name='code')
        div.form-group
          input#submit.btn.btn-primary(type='submit', name='Go', value='Go')
